body {
    background-image: url("https://i.ibb.co/ZXK4yjb/background3.jpg");
}

.stranicagodine {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr;
    grid-template-rows: 285px 2fr 100px 100px;
}

#inputpolje3{
    height: 50px;
}
#inputpolje2{
    height: 50px;
}
#inputpolje1{
    height: 50px;
}

.baner {
    background: rgba(0,0,0,0.4);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.picturelogo {
    float: left;
    height: 60%;
    margin-left: 0%;
}

.naziv {
    font-size: 280%;
    margin-top: 6%;
    margin-left: 41.5%;
}

.inputpolja{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.lijevatabela {
    background: rgba(0, 0, 255, 0.3);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tabela1 {
    margin: auto;
    border-collapse: collapse;
    border-top: solid 3px black;
}
.redoviredovi{
    border:dashed;
}
.kolonekolone {
    padding-bottom: 11px;
    padding-top: 10px;
    border: dashed;
    padding-left: 10px;
    padding-right: 53px;
}
.predmet {
    border: solid 3px black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:9px;
    padding-bottom:9px;
    background-color: gray;
}
.prvinaslov {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: gray;
    border-top: solid 3px black;
    text-align: center;
    border-left: solid 3px black;
    border-right: solid 3px black;
}
.red1 {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: gray;
    border: solid 3px black;
}

.druginaslov {
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: solid 3px black;
    text-align: center;
    border-right: solid 3px black;
    border-left: solid 3px black;
    background-color: gray;
}
.tabela2 {
    margin:auto;
    border-collapse: collapse;
    border: solid 3px black;
}
.prvagodinanaslov {
    padding-top:7px;
    padding-bottom:7px;
    background-color: gray;
    border-top: solid 3px black;
    text-align: center;
    border-left: solid 3px black;
    border-right: solid 3px black;
}
.drugagodinanaslov {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: gray;
    border-top: solid 3px black;
    text-align: center;
    border-left: solid 3px black;
    border-right: solid 3px black;
}
.kolona2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align:center;
    padding-right: 10px;
    border-right: dashed;
}
.vrijeme {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: dashed;
    background-color: floralwhite;
}
.kombinacija {
    padding-left: 10px;
    padding-right: 10px;
    border: dashed;
    background-color: lightgray;
    text-align: center;
}
.vjezba {
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
    color:green;
    border: dashed;
    border-color:black;
    background-color: lightgreen;
}
.tutorijal {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    color: darkblue;
    border: dashed;
    border-color: black;
    background-color: lightblue;
}
.predavanje {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: orangered;
    border: dashed;
    border-color: black;
    background-color: #FED8B1;
}
.kolona2 {
    background-color: gray;
    border: dashed;
    border-bottom: solid 3px black;
}
.prazno {
    background-color: gray;
    border-top: none;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
}
.desnatabela {
    background: rgba(0, 0, 255, 0.3);
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    background: rgba(0,0,0,0.4);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    font-style: italic;
}

.dno {
    margin-top: 1%;
    text-align: center;
}
.link {
    font-size:150%;
    margin-left:45.5%;
    margin-top: 1.5%;
    text-align: center;
}

